---
environments:
  staging:
    values:
      - ./environments/staging.yaml.gotmpl
---
repositories:
  - name: ocelot-social
    url: git+https://github.com/Ocelot-Social-Community/Ocelot-Social@deployment/helm/chart?ref=hetzner

apiVersions:
  - monitoring.coreos.com/v1

releases:
  - name: ocelot-social
    namespace: {{ .StateValues.namespace }}
    chart: ocelot-social/ocelot-social
    values:
    - ./values/ocelot.yaml.gotmpl
    secrets:
      - ./secrets/ocelot.yaml
