{{ $image_tag := env "IMAGE_TAG" | default  (exec "../scripts/image_tag.sh" (list) | trim) }}

domain: staging.reformer-network.ocelot-social.roschaefer.de
namespace: reformer-network-staging
image_tag: {{ $image_tag }}
github_repository: it4change/reformer.network
