{{ $branded_image_tag:= env "BRANDED_IMAGE_TAG" | default (exec "../scripts/image_tag.sh" (list) | trim) }}
{{ $ocelot_image_tag := env "OCELOT_IMAGE_TAG" | default "master" }}

domain: staging.reformer-network.roschaefer.de
namespace: reformer-network-staging
image_tag: {{ env "IMAGE_TAG" | default (printf "ocelot-%s--branded-%s" $ocelot_image_tag $branded_image_tag) }}
