{{ $image_tag:= env "IMAGE_TAG" | default (exec "../scripts/image_tag.sh" (list) | trim) }}

domain: reformer-network-staging.roschaefer.de
namespace: reformer-network-staging
image_tag: {{ $image_tag }}
